*{
    box-sizing:border-box;
}


body{

    margin:0;
    min-height:100vh;

    font-family:Arial, Helvetica, sans-serif;

    background:#eef2f7;

    display:flex;
    justify-content:center;
    align-items:center;

}


.app{

    width:95%;
    max-width:450px;

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.15);

}


header{

    text-align:center;

    margin-bottom:25px;

}


header h1{

    margin:0;

    color:#333;

}


header p{

    color:#777;

}



.añadir{

    display:flex;

    gap:10px;

}


input{

    flex:1;

    padding:14px;

    border-radius:12px;

    border:1px solid #ddd;

    font-size:16px;

}



button{

    width:50px;

    border:none;

    border-radius:12px;

    background:#4CAF50;

    color:white;

    font-size:25px;

    cursor:pointer;

}


button:hover{

    opacity:0.8;

}



ul{

    list-style:none;

    padding:0;

}



li{

    display:flex;

    align-items:center;

    justify-content:space-between;


    background:#f7f7f7;

    padding:14px;

    margin-top:12px;

    border-radius:12px;

}


.producto{

    display:flex;

    align-items:center;

    gap:12px;

}



.check{

    width:22px;

    height:22px;

    cursor:pointer;

}



.comprado{

    text-decoration:line-through;

    color:#888;

}



.eliminar{

    background:#ff5252;

    width:35px;

    height:35px;

    font-size:18px;

}